@charset "UTF-8";
        body {
            background-color: aquamarine; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 12px;
            }
        h1 {background-color: bisque;
            color: brown;
            }
        h2 {
            color: rgb(9, 240, 29);
        }
        p {
            text-align: justify;
        }